.nav-item-lang {
    margin-left: 10px;
}

.divider {
    height: 300px;
    background: rgba(0,0,0,0.6);
        background-position-x: 0%;
        background-position-y: 0%;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.divider_top {
    /* clip-path: polygon(0% 19%, 0% 100%, 100% 100%, 26% 40%); */
    clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 100% 0%);
    height: 100px;
    margin-bottom: -1px;
}

.description-bullets {
    list-style-type: none;
    padding-left: 0;
    height: 160px;
}

.features-row {
    max-height: 400px;
}

.cover .sub-heading {
    opacity: .9;
}

.gite-section {
    margin-top: 1em;
}

.feature-cover {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    background-size: contain;
}

.gite-img {
    margin-top: 2em;
    box-shadow: 3px 3px 5px 1px #aaa;
}

section#contact {
    margin-top: 0rem !important;
}

.contact-title {
    margin-top: 0 !important;
}
