<section id="pricing" class="divider py-5" style="height: 700px; background-image: url('{{ "images/covers/flower1.jpg" | absURL }}')">
  <div class="container text-center">
    <!--
    <h2 class="pt-5 h2">{{ i18n "pricing.title" }}</h2>
    <p class="text-muted pb-5">{{ i18n "pricing.description" }}</p>
    -->
    <div class="row justify-content-md-center">
      {{ range .Site.Params.gites }}
        <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="pricing p-4">
              <h5 class="h5 title">{{ .title }}</h5>
              <span class="price my-3">{{ .price }}</span>
              <hr>
              <div class="features text-left">
                  {{ range .features }}
                    <div class="my-2 text-muted"><i class="fa fa-check mr-3 text-success"></i>{{ . }}</div>
                  {{ end }}
              </div>
              <a target="_blank" href="{{ .url }}" class="btn btn-outline-dark mt-4">
                <img src="{{ "images/gites-de-france.png" | absURL }}" width="30" />
                {{ i18n "pricing.button" }}
              </a>
            </div>
        </div>
      {{ end }}
    </div>
    
  </div>
</section>
